aiohttp
pydantic
kubernetes
uvicorn
confluent-kafka
prometheus-client
loguru
shortuuid
PyYAML
pydantic-settings
aiokafka
python-dotenv
prometheus_client
fastapi
uvicorn[standard]
pytest
python-arango
pytest-asyncio
httpx
aioarango